html{
    background-color: black;
    font-size: 22px;
    color: antiquewhite;
}

a{
    color: antiquewhite;
}

a:visited{
    color: chartreuse;
}

a:hover, a:active{
    color: aqua;
}

table, td, tr, th, caption {
    border: 2px solid #eee;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}